.formContainer {
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;
}

.inputContainer {
    background-color: white;
    flex-grow: 1;
    display: flex;
    padding: 5px;
    border-radius: 5px;
}

.input {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    flex-grow: 1;
    height: 25px;
    border: none;
    border-bottom: 1px solid #ecf0f1;
    appearance: none;
}

.submitButton {
    margin-left: 20px;
    color: white;
    background-color: #007AFF;
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
}

.submitButton:active {
    background-color: #005bbd;
}