.container {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid lightgray;
}

.checkbox {
    margin-right: 10px;
}

.deleteButton {
    margin-left: 10px;
}

.item {
    flex-grow: 1;
    font-size: 15px;
    text-decoration: none;
}

.doneItem {
    text-decoration: line-through;
}