.itemContainer {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ecf0f1;
}

.doneContainer {
    background-color: lightgray;
}

.checkbox {
    margin-right: 10px;
    width: 18px;
    height: 18px;
}

.deleteButton {
    margin-left: 10px;
    color: #FF3B30;
    border: none;
    background-color: transparent;
}

.deleteButton:active {
    color: #c22b23;
}

.item {
    flex-grow: 1;
}

.itemLabel {
    font-size: 15px;
    text-decoration: none;
    border: none;
    background-color: transparent;
    width: 100%;
}

.doneItemLabel {
    text-decoration: line-through;
}